In [1]:
from os import path
import pandas as pd

# Directory where data is stored
DATA_DIR = '../resources/code-soccer-files-main/data'

# reading the shots file
shots = pd.read_csv(path.join(DATA_DIR, 'shots.csv'))

pandas.core.frame.DataFrame

In [3]:
# methods and attributes
print(f'type: {type(shots)}')
print(f'columns: {shots.columns}')
print(f'shape: {shots.shape}')

type: <class 'pandas.core.frame.DataFrame'>
columns: Index(['name', 'foot', 'goal', 'dist_m', 'dist_ft', 'time', 'match_id',
       'period', 'team_id', 'player_id', 'shot_id', 'accurate', 'shot_loc',
       'counter', 'opportunity', 'x1', 'y1', 'x2', 'y2', 'H1', 'H2', 'E1',
       'shot_loc_desc', 'time2', 'min'],
      dtype='object')
shape: (1366, 25)

In [6]:
# multiple columns
print(type(shots[['name', 'foot', 'goal', 'period']]))
shots[['name', 'foot', 'goal', 'period']].head()

<class 'pandas.core.frame.DataFrame'>

                  name       foot   goal period
0           A. Samedov      right  False     1H
1    Yasir Al Shahrani      right  False     1H
2           Y. Zhirkov       left  False     1H
3         Y. Gazinskiy  head/body   True     1H
4  Mohammad Al Sahlawi       left  False     1H

In [8]:
# convert series to data frame
print(type(shots['name']))
print(type(shots['name'].to_frame()))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [9]:
# subset of overtime shots
shots_ot = shots.loc[((shots['period'] == 'E1') | (shots['period'] == 'E2')), ['name', 'goal', 'period']]
shots_ot.head()

               name   goal period
1012     Jordi Alba  False     E1
1013           Koke  False     E1
1014  Marco Asensio  False     E1
1015     Iago Aspas  False     E1
1016          Piqué  False     E1

In [10]:
# sort by name
shots_ot.sort_values('name', inplace=True)
shots_ot.head()

             name   goal period
1239   A. Erokhin  False     E1
1319  A. Kramarić  False     E2
1312  A. Kramarić  False     E1
1057  A. Kramarić  False     E2
1313  A. Kramarić  False     E1

In [11]:
# adding a column 
shots_ot['foot'] = shots['foot']
shots_ot.head()

             name   goal period       foot
1239   A. Erokhin  False     E1  head/body
1319  A. Kramarić  False     E2      right
1312  A. Kramarić  False     E1       left
1057  A. Kramarić  False     E2      right
1313  A. Kramarić  False     E1       left

In [ ]:
# outputting data - in this scenario the index is meaningful
shots_ot.to_csv(path.join(DATA_DIR, 'shots_ot.csv'), index=True)